html{
	box-sizing: border-box;
	font-family: 'Montserrat', sans-serif;
}
*,*::before, *::after{
	box-sizing: inherit;
}
a{
	text-decoration: none;
	color: inherit;
	cursor: pointer;
}
ul,li{
	list-style: none;
	margin: 0;
	padding: 0; 
}
h1,h2{
	margin: 0;
	font-size: inherit;
}
body{
	position: relative;
	overflow-x: hidden;
	margin: 0;
}
button{
	border: none;
	cursor: pointer;
	outline: none;
}
body, button{
	color: #1F373D;
	font-weight: 600;
	font-size: 13px;
}
.title{
	font-weight: 600;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: -3px;
	padding-bottom:40px;
}
.text{
	width: 392px;
	font-weight: 500;
	font-size: 13px;
	line-height: 30px;
}
.container  {
	max-width: 1114px;
	margin: 0 auto; 
}


.search__box{
	position: relative;
	width: 480px;
}
.search__box input {
	width: 100%;
	height: 70px;
	padding:28px;
	border: none;
	border-radius: 5px;
	outline: none;
}
.search__btn{
	position: absolute; 
	top: 0;
	right: 0px;
	width: 115px;
	height: 70px;
	padding: 28px 27px 28px 36px;
	background: #ffcc01;
	border: none;
	border-radius: 0 5px 5px 0;
}


.item__box{
	position: relative;
	min-width: 350px;
	min-height: 500px;
	background-color: #b1d7e8;
	box-shadow: 0 0 24px -12px rgba(0,0,0,0.5);
	font-weight: 600;
	font-size: 15px;
}
.item__box-desc{
	position: absolute;
    bottom: 0;
    width: 100%;
	background-color: #fff;
	height: 120px;
	padding: 27px 23px 35px;
}
.item__box-info{
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	padding-top: 24px;
}
.item__box-text{
	color: #ffcc01;
}
.item__box-icons{
	display: flex;
   justify-content: space-between;
   align-items: center;
	color: #919EB1;
}
.item__box-icon{
	font-weight: 500;
	padding-right: 15px;
}
.item__box-icon img{
	padding-right: 8px;
}
.item__icon-link{
	margin-left: 30px;
}



.header{
	padding: 26px 0 70px 0;
}
.header__wrapper, .header__menu{
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 13px;
}
.logo{
	height: 20px;
	color: #1F373D;
}
.menu__btn{
	display: none;
}
.menu__list-item{
	display: inline-block;
}
.menu__list-item + .menu__list-item{
	padding-left: 32px;
}
.header__account{
	margin-left: 100px;
}
.header__btn{
	border-radius: 3px;
	min-width: 145px;
	min-height: 40px;
	margin-left: 22px;
	background-color: #ffcc01;
}


.header__main{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 26px;
}
.header__search{
	position: absolute;
	z-index: 2;
}
.header__search .title{
	font-size: 61px;
	line-height: 78px;
	padding-bottom: 49px;
	
}
.header__img{
	min-width: 960px;
	min-height: 630px;
	background-color: #96bece;
	position: relative;
	left: 224px;
}
.header__item{
	position: absolute;  
	display: flex;
	justify-content: space-around;
	align-items: center;  
	right: 0;
	bottom: 0;
	min-width: 590px;
	min-height: 80px;
	font-weight: 600;
	color: #1f373d;
	background-color: #ffcc01;
}
.item__info{
	display: flex;
	justify-content: space-around;
	align-items: center;
}
.item__info-link{
	margin-left: 30px;
	font-size: 18px;
}
.item__info-img img{
	height: 25px;
}




.statistics{
	padding: 74px 0;
}
.statistics__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.statistics__text-first,
.statistics__text-second{   
	width: 540px;
	padding-top: 30px;
}
.statistics__count{
	display: flex;
	justify-content: space-between;
	width: 430px;
	margin-right: 10px;
}
.count__item{
	width: 200px;
	height: 200px;
	background-color: #f6f5f4;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.count__item-2{
	margin-top: 30px;
}
.count-num{
	font-size: 40px;
	color: #ffcc01;
}
.count-text{
	font-size: 14px;
	line-height: 22px;      
}


.appartments{
	padding: 63px 0 84px 0;
	background-color: #f6f5f4;
}
.appartments__item{
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 35px;
}
.appartments__search{
	max-width: 772px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;	
}
.appartments__btn{
	width: 250px;
	height: 70px;
	padding: 28px 27px 28px 36px;
	background: #fff;
	border-radius: 5px;
	font-weight: 500;
}




.works{
	padding: 56px 0 47px;
}
.works__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.works__item{
	width: 344px;
	height: 376px;
	box-shadow: 0 0 24px -12px rgba(0,0,0,0.5);
	position: relative;
	padding: 145px 39px 50px 44px;
	margin-top: 68px;
}

.works__item:hover{
	background-color: #ffcc01;
	transition: all .5s;
	color: #fff;
}
.works__item-bignum{
	position: absolute;
	top: 0;
	left: 0;
	width: 134px;
	height: 88px;
}
.works__item-desc{
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
}
/* .works__item-desc::after{
	content: "";
	width: 90px;
	height: 2px;
	background-color: #000;
	display: block;
	margin: -18px 25px;
	
} */
.works__item-title{
	display: inherit;
	font-weight: 600;
	font-size: 18px;
}
.title__text{
	margin-left: 10px;
}
.works__item-text{
	font-size: 13px;
	line-height: 2.08;
	font-weight: 500;
	padding: 34px 0 0 30px;
}
.works__item-link{
	padding: 26px 0 0 30px;
}
.works__item-line{
	padding-left:28px;
}


.services{
	padding: 50px 0 78px;
}
.services__wrapper{
	position: relative;
	margin-top: 64px;
	min-height: 633px;
}
.services__img{
	min-width: 653px;
	min-height: 633px;
	background-color: #b1d7e8;
	position: absolute;
	top: 0;
	left: -110px;
}
.servuces__desc{
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	align-items: flex-end;
	height: 633px;
}
.services__item{
	width: 442px;
}
.services__item-title{
	font-weight: 600;
	padding-bottom: 32px;
	font-size: 25px;
}
.services__item-text{
	width: 100%;	  
}


.agents{
	padding: 63px 0 96px;
	background-color: #F6F5F4;
}
.agents__item{
	margin-top: 66px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	font-size: 15px;
	font-weight: 600;
}
.slick-track{
	display: flex;
}
.slick-list{
	overflow: hidden;
}
.slick-slide{
	margin: 0 16px;
	width: 350px;
}



.adds{
	padding: 89px 0 104px;
}
.adds__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
}
.adds__wrapper + .adds__wrapper{
	padding-top: 52px;
}
.adds__img{
	position: relative;
	width: 533px;
	height: 333px;
	background-color: #b1d7e8;
}
.adds__item{
	background-color: #ffcc01;
	width: 338px;
	height: 83px;
	display: flex;
   justify-content: space-around;
	align-items: center;
	position: absolute;
	bottom: -42px;
	right: 97px;
}
.adds-item-2{
	right: -44px;
}
.adds__desc{
	width: 444px;
}
.adds__title{
	font-size: 25px;
}
.adds__text{
	width: 100%;
	margin-top: 36px;
}
.adds__align{
	text-align: right;
}
.adds__btn{
	margin-top: 42px;
	width: 243px;
	height: 83px;
	font-size: 18px;
	color: #fff;
	background-color: #1F373D;
	outline: none;
	padding: 30px 55px;
}



.footer{
	padding: 64px 0 86px;
	background-color: #1F373D;
}
.footer__wrapper{
	display: flex;
	justify-content: space-between;
	align-items: center;
	color: #fff;
}
.footer__wrapper-2{
	margin-top: 82px;
	align-items: flex-start;
	font-weight: 400;
}
.footer__subscribe{
	position: relative;
}
.subscribe__form{
	font-size: 15px;
	width: 475px;
	height: 70px;
	outline: none;
	border: none;
	padding: 29px;
}
.subscribe__btn{
	height: 70px;
	width: 92px;
	position: absolute;
	top: 0;
	right: 0;
	padding-top: 8px;
	background: transparent;
 }
.footer__line{
	height: 2px;
	width: 100%;
	background-color: #919eb1;
}
.footer__menu{
	display: inherit;
	justify-content: inherit;
	width: 640px;
}
.footer__rights{
	margin-top: 68px;
	font-weight: 500;
}
.footer__menu-title{
	color: #919EB1;
}
.footer__menu-list{
	margin-top: 40px;
}
.footer__menu-list li{
	margin-bottom: 22px;
}




@media(max-width: 1100px){
	.header__menu{
		display: none;
	}
	.menu__btn{
		background-color: transparent;
		border: none;
		outline: none;
		padding: 0;
		
	}
	.menu__btn::before,
	.menu__btn::after{
		content: "";
		width: 24px;
		height: 2px;
		background-color: #1F373D;
		display: block;
		margin-bottom: 4px;
	}

	.menu__btn-line{
		background-color: #1F373D;
		display: block;
		width: 24px;
		height: 2px;
	}
}