.container  {
    max-width: 1110px;
    margin: 0 auto;
}



.header__top{
    display: flex;
    justify-content: space-between;
    height: 95px;
}
.header__logo{
    height: 20px;
}
.header__menu-list{
    display: flex;
    
}

